<h3>Tables</h3>
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create New</button>
<br><br>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Table</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="tab-form" #tableForm="ngForm" (ngSubmit)="onSubmit(tableForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_tableService.selectedTable._id">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="code">Code</label>
                    <input class="form-control" name="code" #code="ngModel" [(ngModel)]="_tableService.selectedTable.code">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="seat">Seat</label>
                    <input type="number" class="form-control" name="seat" #seat="ngModel" [(ngModel)]="_tableService.selectedTable.seat">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="description">Description</label>
                    <input class="form-control" name="description" #description="ngModel" [(ngModel)]="_tableService.selectedTable.description">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
                </div>
                <div *ngIf="isNew" class="form-group col-md-4">
                    <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(tableForm)">Reset</button>
                </div>
                <div class="form-group col-md-4">
                    <button type="button" class="btn btn-lg btn-block btn-warning" (click)="this.modalRef.hide()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Code</th>
            <th>Seat</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let table of _tableService.tableList; let i = index">
            <td>{{i+1}}</td>
            <td>{{table.code}}</td>
            <td>{{table.seat}}</td>
            <td>{{table.description}}</td>
            <td>
                <input type="button" class="btn btn-warning" value="Edit" (click)="onEdit(template, table._id)">
                <input type="button" class="btn btn-danger" value="Delete" (click)="onDelete(table._id)">
            </td>
        </tr>
    </tbody>
</table>