<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">No.</th>
      <th class="text-center">Code</th>
      <th class="text-center">Initial</th>
      <th class="text-center">Name</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of _categoryService.categoryList; let i = index">
      <td class="text-center">{{i+1}}</td>
      <td>{{category.code}}</td>
      <td>{{category.initial}}</td>
      <td>{{category.name}}</td>
      <td>
        <input type="button" class="btn btn-warning" value="Edit" (click)="onEdit(category._id)">
        <input type="button" class="btn btn-danger" value="Delete" (click)="onDelete(category._id)">
      </td>
    </tr>
  </tbody>
</table>
